# Import the data

In [1]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("Building_Permits.csv")

# set seed for reproducibility
np.random.seed(0)

C:\Users\ajarir\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Print the first 5 rows of the data

In [2]:
# look at the first five rows of the nfl_data file. 
# I can see a handful of missing data already!
nfl_data.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

# Show how many missing values are there

In [4]:
Null_numbers = nfl_data.isnull()
Null_numbers

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
198896,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,True,True,True,True,False
198897,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
198898,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False
198899,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,True,True,False

# Count the sum of all missing values

In [22]:
total_missing_values = Null_numbers.sum()
print(missing_values)

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

# Show the total missing values of the dataset

In [23]:
total_missing_values = total_missing_values.sum()
print(total_missing_values)

2245941

# Show the shape (rows and columns) of the data

In [24]:
shape = nfl_data.shape
print(shape)

(198900, 43)

# How many total missing data is there

This code is calculating the total number of cells in the Pandas DataFrame nfl_data.

The first line of code gets the shape of the DataFrame as a tuple of (number of rows, number of columns). Then, the function np.product is called on this tuple, which calculates the product of all the elements in the tuple. This will give the total number of cells in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

The second line of code then prints this total number of cells.

For example, if the DataFrame nfl_data has 198900 rows and 43 columns, the total number of cells would be 198900 * 43 = 8552700.

In [25]:
# how many total missing values do we have?


total_cells = np.product(nfl_data.shape)

print(total_cells)

8552700

#  percent of data that is missing

Show the percentage of missing data using this fourmla:

(total_missing_values)/(total_cells)* 100

In [26]:
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

26.26002315058403

# Drop missing values from the rows

In [29]:
# remove all columns with at least one missing value
null_rows = nfl_data.dropna(axis=0)
null_rows

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

# Drop missing values from the columns

The function dropna() is a Pandas function that is used to remove rows or columns that contain missing values from a DataFrame. The axis parameter specifies which axis to drop the missing values from. If axis=0, then the function will drop rows that contain missing values. If axis=1, then the function will drop columns that contain missing values.

## dropna() pands function to drop none available data
### Axis 1 is for columns, Axis 0 is for rows

In [28]:
# remove all columns with at least one missing value
null_columns = nfl_data.dropna(axis=1)
null_columns

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,Montgomery,issued,12/05/2017,12/05/2017,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,Bush,issued,12/06/2017,12/05/2017,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,Indiana,issued,12/06/2017,12/06/2017,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,Sutter,issued,12/06/2017,12/06/2017,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,Pacific,issued,12/07/2017,12/07/2017,1489796283803

# Filling in missing values automatically



to fill the data, we have to fist make a subset, then we fill it with our values.

## Create a subset

cretae the subset based in the index, using loc function <br>
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head() <br>
subset_nfl_data


## fillna() pands function to fill none available data

Similar to dropna() function in pandas, we will use fillna() function in pandas to fill the none avaliable data.



there are several other methods that can be used with the fillna() function. Some examples include: <br> 

'ffill': forward fill, which means that missing values will be replaced with the previous non-null value in the same column. <br>
'backfill': backfill, which means that missing values will be replaced with the next non-null value in the same column.
'pad': short for padding, which is equivalent to ffill. <br>
'nearest': fill missing values using the nearest non-null value. <br>
'interpolate': interpolate missing values using linear interpolation. <br>
'mean': fill missing values with the mean of the non-null values in the same column. <br>
'median': fill missing values with the median of the non-null values in the same column. <br>
'mode': fill missing values with the mode (most common value) of the non-null values in the same column. <br>


####  Example <br>

#### Fill_data = mydata.df(fillna(method='bfill', axis=0),fillna(3.4))

In [43]:
subset_data = nfl_data.loc[1700:1730, 'Block':'Street Number Suffix']
subset_data

      Block   Lot  Street Number Street Number Suffix
1700   1510   016            575                  NaN
1701   1510   016            577                  NaN
1702   0289   005            100                  NaN
1703   2631   064           1442                  NaN
1704   2785   029            148                  NaN
1705   5540   035            309                  NaN
1706   3547   001           1800                  NaN
1707   0311   006            690                  NaN
1708  0419A   019            393                  NaN
1709   1788   017           2834                  NaN
1710   0311   006            690                  NaN
1711   0311   006            690                  NaN
1712   0452   001            900                  NaN
1713   3788   012            178                  NaN
1714   0192   039            821                  NaN
1715   5624   020             77                  NaN
1716  7040A   002              2                  NaN
1717   0540   003           2831                  NaN
1718   1370   003            111                  NaN
1719   4711   156              3                  NaN
1720   5343   018             90                  NaN
1721  0253A   054           1177                  NaN
1722   1238   022            272                  NaN
1723   5576   001            280                  NaN
1724   3717   012            135                  NaN
1725   2067   047           1818                  NaN
1726   0918  002O           3420                  NaN
1727   3573   003           3180                  NaN
1728   2697   027            249                  NaN
1729   2697   027            251                  NaN
1730   0940   029           2828                  NaN

In [44]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_data.fillna(method='bfill', axis=0).fillna(0)

      Block   Lot  Street Number  Street Number Suffix
1700   1510   016            575                   0.0
1701   1510   016            577                   0.0
1702   0289   005            100                   0.0
1703   2631   064           1442                   0.0
1704   2785   029            148                   0.0
1705   5540   035            309                   0.0
1706   3547   001           1800                   0.0
1707   0311   006            690                   0.0
1708  0419A   019            393                   0.0
1709   1788   017           2834                   0.0
1710   0311   006            690                   0.0
1711   0311   006            690                   0.0
1712   0452   001            900                   0.0
1713   3788   012            178                   0.0
1714   0192   039            821                   0.0
1715   5624   020             77                   0.0
1716  7040A   002              2                   0.0
1717   0540   003           2831                   0.0
1718   1370   003            111                   0.0
1719   4711   156              3                   0.0
1720   5343   018             90                   0.0
1721  0253A   054           1177                   0.0
1722   1238   022            272                   0.0
1723   5576   001            280                   0.0
1724   3717   012            135                   0.0
1725   2067   047           1818                   0.0
1726   0918  002O           3420                   0.0
1727   3573   003           3180                   0.0
1728   2697   027            249                   0.0
1729   2697   027            251                   0.0
1730   0940   029           2828                   0.0